:root {
	--white: #fff;
	--grey: #f0f0f0;
	--black: #000;
	--bg-color: var(--black);
	--text-color: var(--white);
	--red : red;
	--green: green;
	--blue: blue;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	color: var(--black);
	&.dark {
		--bg-color: var(--black);
		--text-color: var(--white);
	}
	Font-family: -apple-system, BlinkMacSystemFont, SF Pro, Helvetica Neue, Arial, sans-serif;
}

a {
    text-decoration: none;
	cursor: pointer;
}

li {
    list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	path {
		fill: currentColor;
	}
	&:hover {
		path {
			fill: var(--main-color);
		}
	}
}

.presentation {
	height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

		h1 {
			font-size: 4rem;
			font-weight: 700;
			margin-bottom: 1rem;
		}

		.description {
			width: 80%;
			text-align: center;
			margin-bottom: 3rem;

			p {
				line-height: 1.75rem;
			}
		}
}