@use '../partials/variables' as *;
@use '../partials/functions' as *;  
@use '../partials/globals' as *;    

.btn {
    color: $text-color;
    text-decoration: none;
    padding: rem(12) rem(20);
    margin-left: rem(10);
    border-radius: rem(10);
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
        background-color: transparentize-color($primary-color, 0.5); // Utilisation de la fonction pour ajouter de la transparence
    }
}

.register-btn {
    background-color: black;
    color: white;
}

.register-btn2 {
    background-color: white;
    color: black;
    font-size: rem(16);
    width: 100%;
    padding-top: rem(15);
    padding-bottom: rem(15);

    &:hover {
        background-color: rgba(255, 255, 255, 0.894);
    }

    border: none;
}

.login-btn {
    background-color: white;
    color: black;
}

.login-btn2 {
    background-color: black;
    color: white;
    font-size: rem(16);
    width: 100%;
    padding-top: rem(15);
    padding-bottom: rem(15);

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    border: none;
}

.cta-btn {
    font-size: rem(18);
    background-color: black;
    color: white;
}

