:root {
  --white: #fff;
  --grey: #f0f0f0c9;
  --black: #000;
  --bg-color: var(--black);
  --text-color: var(--white);
  --red: red;
  --green: green;
  --blue: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  Font-family: -apple-system, BlinkMacSystemFont, SF Pro, Helvetica Neue, Arial, sans-serif;
}
body.dark {
  --bg-color: var(--black);
  --text-color: var(--white);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg path {
  fill: currentColor;
}
svg:hover path {
  fill: var(--main-color);
}

.custom-register-bg {
  background-color: #000000; /* Remplacez cette couleur par celle que vous souhaitez */
}

.presentation {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.presentation .description {
  width: 80%;
  text-align: center;
  margin-bottom: 3rem;
}
.presentation .description p {
  line-height: 1.75rem;
}

.navbar {
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
}
.navbar .navbar-left, .navbar .navbar-right {
  display: flex;
  align-items: center;
  width: 20%;
}
.navbar .navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  transition: transform 0.3s ease;
}
.navbar ul li a {
  color: rgb(89, 89, 89);
  font-weight: 200;
  text-decoration: none;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 1.5625rem;
}
.navbar ul li:hover {
  transform: scale(1.05) translateY(-2px);
}

.header {
  display: flex;
  justify-content: center;
}

.btn {
  color: #000;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  margin-left: 0.625rem;
  border-radius: 0.625rem;
  transition: background-color 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: transparentize-color(--background-color, 0.5);
}

.register-btn {
  background-color: black;
  color: white;
}

.register-btn2 {
  background-color: white;
  color: black;
  font-size: 1rem;
  width: 100%;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border: none;
}
.register-btn2:hover {
  background-color: rgba(255, 255, 255, 0.894);
}

.login-btn {
  background-color: white;
  color: black;
}

.login-btn2 {
  background-color: black;
  color: white;
  font-size: 1rem;
  width: 100%;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border: none;
}
.login-btn2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.cta-btn {
  font-size: 1.125rem;
  background-color: black;
  color: white;
}

.banner-icon {
  position: absolute;
  padding-top: 1.25rem;
  width: 90%;
}

.auth-section {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.auth-section .register-description-container {
  color: #fff;
  padding: 1.25rem 1.875rem;
  align-items: center;
  margin-bottom: 0rem;
  width: 45%;
}
.auth-section .register-description-container article > h1 {
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1.1;
  margin-bottom: 0;
  padding-bottom: 1.7rem;
}
.auth-section .register-description-container article > p {
  color: rgba(240, 240, 240, 0.7882352941);
  font-weight: 200;
  font-size: 1.125rem;
}
.auth-section .register-form-container {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.875rem;
  margin-top: 10rem;
  justify-content: space-between;
}
.auth-section .register-form-container h2 {
  color: #fff;
  font-size: 1.875rem;
  padding-bottom: 1.5625rem;
}
.auth-section .register-form-container .login-link {
  display: flex;
  color: rgb(89, 89, 89);
  padding-bottom: 3.125rem;
}
.auth-section .register-form-container .login-link a {
  margin-left: 0.625rem;
  color: #fff;
  text-decoration: underline;
}

.login-main-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.login-section {
  width: 60%;
  padding: 0rem 5rem;
}

.login-illustration {
  height: 90%;
  display: flex;
  align-items: center;
  background-color: rgba(153, 217, 140, 0.2235294118);
  object-fit: cover;
  border-radius: 30px;
  padding: 0rem 1.25rem;
}

.login-description-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-description-container article > p {
  color: black;
  font-weight: 200;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 3rem;
}
.login-description-container .login-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container form button {
  margin-left: 0;
}
.login-form-container p {
  text-align: center;
}

.form-group input {
  margin-top: 0.8rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.625rem;
  padding-left: 1.25rem;
  margin-bottom: 1.8rem;
}

.login-form-group input {
  margin-bottom: 0;
  margin-top: 0.8rem;
}
.login-form-group p {
  text-align: right;
  text-decoration: underline;
  margin: 0.9375rem 0rem 2.1875rem 0rem;
}

.register-form-group label {
  color: #fff;
}
.register-form-group input {
  border: 1px solid #1e1e1e;
  background-color: rgba(23, 22, 22, 0.7607843137);
}

.login-form-group label {
  color: #000;
}
.login-form-group input {
  border: 1px solid rgba(214, 211, 211, 0.8156862745);
  background-color: #ffffff;
}

.form-password-container {
  display: flex;
}
.form-password-container .password1 {
  width: 50%;
  padding-right: 0.625rem;
}
.form-password-container .password2 {
  width: 50%;
  padding-left: 0.625rem;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.or-register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.or-register-section .create-account {
  background-color: transparent;
  width: 100%;
  padding: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid black;
  border-radius: 1.875rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.or-register-section .create-account a {
  text-decoration: none;
  color: #000;
}

.line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 2.5rem 0rem;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0rem 0.5rem;
  font-size: 0.875rem;
  color: #666;
  text-align: center;
  font-weight: bold;
}

.error {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 5px;
  display: block;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.benefits_container {
  margin-top: 2.5rem;
}
.benefits_container .benefits_item {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  margin: 0.625rem;
  border-radius: 1.875rem;
  border: 0.0625rem solid rgba(240, 240, 240, 0.7882352941);
}
.benefits_container .benefits_item .benefits_icon {
  margin-right: 0.625rem;
  font-size: 1.25rem;
}

/*# sourceMappingURL=main.css.map */
